body {
  font-family: 'Open Sans', sans-serif;
  color: white;

  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
}

#quote-box {
  font-weight: bold;
  max-width: 40rem;
  margin: auto;
  padding: 4rem 1rem;
}

#text {
  font-family: 'Quicksand';
	font-size: 2rem;
	margin: 0 2rem;
}

#author {
  font-family: 'Quicksand';
  font-size: 1.5rem;
	font-weight: 300;
	font-style: italic;
	text-align: right;
}

.button {
  border: solid 0.125rem white;
  border-radius: 1rem;
  color: white;
  margin: 1rem;
  padding: 1rem;
  
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
}

.button:hover {
  background-color: white;
  border-color: transparent;
  color: black;
}

button {
	font: inherit;
	background: none;
	outline: none;
}

button:hover {
  cursor: pointer;
}

#tweet-quote {
	border: solid 0.125rem white;
	border-radius: 1rem;
	padding: 1rem;
	text-decoration: none;
}

footer {
	position: relative;

	height: 100px;
	width: 100%;

	padding-top: 20px;
	margin-top: 20px;

	font-weight: 300;
	font-size: 1.25rem;
	line-height: 0.75rem;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: white;
}

footer a:hover {
  font-weight: bold;
}